.service {
  margin: 4rem 10px;  /* 修改这里 */
  color: #2a2a2a;
}

.service h1 {
  font-size: 3rem;
}

.servicecard {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;  /* 修改这里 */
  align-items: center;
}

.s-card {
  width: 50%;
  margin: 0 auto 1.5rem auto;
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
}
.s-image {
  position: relative; /* Added to help with inner positioning */
  padding-bottom: 56.25%; /* This gives a 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 7px;
}

.s-image video, .s-image img {
  position: absolute; /* They'll now be positioned in relation to the t-image div */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px; /* Keep the same rounded look */
  transition: 0.3s ease-in-out;
}

.s-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

/* .t-card:hover img {
  transform: scale(1.3);
  overflow: hidden;
} */

.s-card h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}
.more-info-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #2a2a2a; /* 或您选择的任何颜色 */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* 移除默认的下划线 */
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: #1a1a1a; 
}

@media screen and (max-width: 850px) {
  .service {
    margin: 4rem 2rem;
  }
  .servicecard {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .s-card {
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
